.DS_store
.idea

# images
images/

# checkpoints
checkpoints/

# ckpt files
*.ckpt

# arrow files
*.arrow

# pycache
__pycache__/

# __init__.py
__init__.py

# logs
logs/

# wandb
wandb/

# taming-transformers
taming-transformers/
